.page-element
    section.group
        h2.group-header
            a(href="#toolbox-properties") Translation
        #toolbox-properties.group-content.inset
            .item.hint Please select an element
