extends layout

block cms-editing
    section.cms.section.login
        h1.print Modify user
        section.standalone
            h2.standalone-header
                span Change password
            .standalone-content
                if typeof(message) !== "undefined" && message.length > 0
                    .attention= message
                form(method="POST", action="/cms/change-password")
                    .item.credential
                        label.cover(for="oldpassword") Current password
                        input.editable(type="password", id="oldpassword", name="oldpassword", required="required", placeholder="Enter passphrase", autofocus="autofocus")
                    .item.credential
                        label.cover(for="newpassword1") New password
                        input.editable(type="password", id="newpassword1", name="newpassword1", required="required", placeholder="Enter passphrase")
                    .item.credential
                        label.cover(for="newpassword2") New password (confirm)
                        input.editable(type="password", id="newpassword2", name="newpassword2", required="required", placeholder="Enter passphrase")
                    .actions.align-right
                        input.action(type="submit", value="Update")
