!!! 5
html

    head

        meta(charset='utf-8')
        title= config.title
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        include metatags

        link(rel='apple-touch-icon-precomposed', href='apple-touch-icon.png')
        link(rel='apple-touch-icon', href='apple-touch-icon.png')

        block stylesheets
            link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Just+Another+Hand|Anton')
            if config.verbose
                link(rel='stylesheet', href='/css/normalize.css')
                link(rel='stylesheet', href='/css/style.css')
                link(rel='stylesheet', href='/css/pages.css')
            else
                link(rel='stylesheet', href='/css/main.min.css')
            if isAdmin
                link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css')
                if config.verbose
                    link(rel='stylesheet', href='/css/admin.css')
                else
                    link(rel='stylesheet', href='/css/cms.min.css')
                link(rel='stylesheet', href='/css/branding.css', id='brandingcss')
            else
                style= config.ci.css
            //if lt IE 10
                style html{background-image:url(../img/gradient.png);background-position:center center;background-repeat:repeat-y}

        //if lt IE 9
            script(type='text/javascript', src='//html5shiv.googlecode.com/svn/trunk/html5.js')

    body

        if isAdmin
            block cms-navigation
                nav.cms.sections.header(role='navigation')
                    include main-navigation

            block cms-editing

        .app(class=isAdmin?'preview':null)
            section.content
                include header
                block content
                .alerts
                    if !isAdmin
                        //if lt IE 9
                            include not-supported
                    block notifications

        block javascripts
            script(src='//code.jquery.com/jquery-2.0.3.min.js')
            if config.verbose
                script(src='/js/jquery-ui-1.10.3.custom.min.js')
                script(src='/js/jquery.ui.touch-punch.min.js')
                script(src='/js/d3.v3.js')
            else
                script(src='/js/main.min.js')
            if isAdmin
                if config.verbose
                    script(src='/js/jquery.cookie.js')
                    script(src='/js/jquery.iframe-post-form.js')
                    script(src='/js/admin.js')
                else
                    script(src='/js/cms.min.js')
            else
                if config.verbose
                    script(src='/js/pages.js')
                else
                    script(src='/js/play.min.js')
