extends /page

block content
    .about.static.highlight(role='main', id=page.name)

        h2.banner.note.emphasis.invert
            - var pageElement = pageElements['header']
            include /elements/element

        each pageElement in page.getElements('initiative-')
            include /elements/element

        ul.semantic.link-list.point-out
            each pageElement in page.getElements('members-link-')
                li
                    include /elements/element
