extends /page

block content
    .not-found.freeze(role='main', id=page.name)

        h2.banner.note.emphasis.invert
            - var pageElement = pageElements['header']
            include /elements/element

        .parade.clearfix

            .awesome
                p.highlight
                    span.label.caption.emphasis.invert
                        - var pageElement = pageElements['error-label']
                        include /elements/element
                    | &#32;
                    - var pageElement = pageElements['error-text']
                    include /elements/element
                a.try-again.banner.note.emphasis.invert(href='/')
                    - var pageElement = pageElements['error-link']
                    include /elements/element

            each persona in [4, 2, 5, 1, 3]
                .awesome.persona(class='persona-' + persona)
                    .characterization
