extends /page

block content

    .question-5.freeze
        form.question(role='main', id=page.name, method='POST', action='/'+nextPage.name)
            .progress.note.invert 5/8

            .instruction
                - var pageElement = pageElements['instruction']
                include /elements/element

            .context.note.emphasis
                - var pageElement = pageElements['question']
                include /elements/element

            if isAdmin
                .dummy.seat-filler
                    .task.note.emphasis.invert.text This text will be replaced with your translations of all the statements listed below.

            ol.semantic.advices
                each advice in [ 1, 2, 3, 4, 5 ]
                    li.advice.inactive
                        .task.note.emphasis.invert(id='q5a_' + advice)
                            - var pageElement = pageElements['advice-' + advice]
                            input.hidden(type='radio', name='q5', id=pageElement.uid, value=advice)
                            include /elements/element

            .continue.default.hidden.note.emphasis.invert
                a.done(href='/'+nextPage.name)
                    - var pageElement = pageElements['done']
                    include /elements/element
                input.hidden(type='submit', name='q', value='5')

            if !isAdmin
                .q5-svg.bubbles
                    .q5-svg.speech-bubble
                    .q5-svg.speech-bubble-corners
                .q5-svg.thumbs-up
                .q5-svg.bodies





